@charset "utf-8";
/* CSS Document */
#page{
	background-color: #F5F5F5;
	}

#header {
	text-align:center;
	/*display:inline;*/
	height:2em;
	position:relative; padding-bottom:.8em
}


#title{display:block;margin-top:0.1em;position: absolute;margin-left:6.4em}

#header-img {
	
	height:1.6em; 
	width: 4em;
	padding-top:.8em;
	margin-left:-.5em;
/*		margin-right:4em;*/
	display:block;
	position:relative;
	}
	
	
	
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

#head-div{
	border:none;
	padding:0 0 0 0;
	width:100%;
	height:10em;
	background-color: #Fff;
	margin-top:.6em;
/*	background-image:url("../images/personal/head-img.jpg");*/
	}
	
#head-img{
	left: 2em;
	height:9em;
	margin-top:.6em;
/*	display:inline;*/
	
	}
	
#head-left-div{
	float:left;
	width:30%;
	}

#head-right-div{
	padding-top: 1.5em;
	padding-left:4.5em;
	display:inline;
/*	float:right;*/
	}
	
.p-info{
	font-family: Droid sans fallback,Arial,Heiti SC, Helvetica;
	font-size:1em;
	font-weight: lighter;
	color:#666;
	}

	

	
.ui-grid-b .ui-block-a,.ui-grid-b .ui-block-b,.ui-grid-b .ui-block-c
{/*background-color:transparent;*/background-color: #FFF;
	border-bottom:1px thin #CCC;
	text-align: left;
	padding-top:.8em;
	padding-left:.4em}

.ui-grid-b .ui-block-a img {padding:0.3em 1.9em ;padding-bottom:0;height:3.5em; width:3.5em;}	
.ui-grid-b .ui-block-b img {padding:0.3em 1.9em;padding-bottom:0;height:3.5em; width:3.5em;}
.ui-grid-b .ui-block-c img {padding:0.3em 1.9em;padding-bottom:0;height:3.5em; width:3.5em;}
/*.ui-grid-b .ui-block-d img {padding:0.9em 1.56em;padding-bottom:0;height:2.5em; width:2.5em;}
*/

.ui-grid-b .ui-block-a h4,.ui-grid-b .ui-block-b h4,.ui-grid-b .ui-block-c h4{
	color:#666;
	font-family:  Droid sans fallback,Arial,Heiti SC, Helvetica;	
	font-size: 1em ;
	font-weight:100;
	text-decoration:none;
	margin-top:0em;
	/*margin-left:1.4em;*/
	padding-top:0.3em;
	padding-left:1.9em;
	padding-bottom: .3em;
	}
	
.helloDiv{
	background-color:#FFF;
	}
.helloDiv .ui-block-a-1 .icon_name{
	color:#666;
	font-family:  Droid sans fallback,Arial,Heiti SC, Helvetica;	
	font-size: 0.8em ;
	font-weight:100;
	}
	
/***************************************************************************************/
.ui-grid-solo-top{height:3em; display: marker;padding-right: 1em;background-color:#FFF;}
.ui-grid-solo-1{border-top:1px #D2D2D2 solid; height:3em; display: marker;padding-right: 1em;background-color:#FFF;}

.ui-block-a-1	{
	text-align:left;
	border-bottom:1px #D2D2D2 solid;
	width:100%;
	height:2.8em;
	/*position:relative;*/
	display:inline;
	background-color:#FFF;
	}
	
.icon_name{
	font-size:1.02em;
	font-weight:lighter;
	color:#666;
	margin-top:.54em;
/*	padding-top:-1.5em;*/
	padding-left:1em;
/*	display:inline;
	display:inline;*/
	position:relative;
}

.icon_name-top{
	font-size:1.02em;
	font-weight:lighter;
	color:#666;
	margin-top:.54em;
	padding-top: 1em;
	padding-left: 1em;
/*	display:inline;
	display:inline;*/
	position:relative;
}	

.icon-img{
	width:.6m;
	height:.6em;
	/*padding-top:.5em;*/
	padding-left:20.8em;
	/*display:inline;*/
	}
	
#btn-logout{
	margin-top:3em;background-color:#FF6A6A;
	font-family:Verdana, Geneva, sans-serif;font-style:normal;
	font-weight:300;color:#FFF;width:25em;height:5%;
	margin-left:1em;
}