@charset "utf-8";
/* CSS Document */

#page{
	background:no-repeat;
	background-image:url("../../images/6.jpg");
	}
	
#lIcon fa fa-check{font-size:1em;font-family:Verdana, Geneva, sans-serif}
	
#content{
/*	background-color:#FFF;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);*/
	background-color:transparent;
/*	filter:alpha(opacity=50); 
	-moz-opacity:0.50;
	opacity:0.50;*/
	}
	
/*.list-ul{
	background-color: #FFF;
	filter:alpha(opacity=50); 
	-moz-opacity:0.50;
	opacity:0.50;  
	}*/
.list-li{height: 3em;padding-top:2.5em;list-style-type:none ;}

/* .list-ul .list-li .username{ ,#password ,#userId
	background-color: #fff;
	filter:alpha(opacity=60);  支持 IE 浏览器
	-moz-opacity:0.50; 支持 FireFox 浏览器
	opacity:0.70;  支持 Chrome, Opera, Safari 等浏览器
	width:110%;
	margin-left:.1em;
	margin-top:.5em
	} */